---
import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
    const posts = await getCollection('posts');

    return posts.map((post) => ({
        params: { slug: post.id },
        props: { post },
    }));
}

import Root from '@/layouts/Root.astro';
import Header from '@/components/post/Header.astro';
import Metadata from '@/components/Metadata.astro';
import Return from '@/components/Return.astro';

const { post } = Astro.props;
const { Content } = await render(post);
---

<Metadata
    title={'Freddy Snow • ' + post.data.title}
    description={post.data.description}
    url={import.meta.env.SITE}
    og={{
        title: post.data.title,
        image: `${import.meta.env.SITE}/og/posts/${post.id}.png`,
        type: 'article',
    }}
/>
<Root>
    <div class="flex max-w-full flex-col gap-6">
        <Return navigatable={post.data.listed} />
        <Header post={post} />
        <div class="prose prose-sm prose-light dark:prose-dark max-w-full">
            <Content />
        </div>
    </div>
</Root>
