---
interface Props {
    title: string;
    description: string;
    url?: string;
    og: {
        title?: string;
        description?: string;
        image?: string;
        url?: string;
        type?: 'website' | 'article';
    };
}

const props = Astro.props;
---

<title>{props.title}</title>
<meta name="description" content={props.description} />
{props.url && <link rel="canonical" href={props.url} />}
<meta property="og:title" content={props.og.title || props.title} />
<meta
    property="og:description"
    content={props.og.description || props.description}
/>
{
    props.og.url ||
        (props.url && (
            <meta property="og:url" content={props.og.url || props.url} />
        ))
}
{props.og.image && <meta property="og:image" content={props.og.image} />}
{props.og.type && <meta property="og:type" content={props.og.type} />}
{props.og.image && <meta name="twitter:card" content="summary_large_image" />}
<meta name="twitter:title" content={props.og.title || props.title} />
<meta
    property="twitter:description"
    content={props.og.description || props.description}
/>
{props.og.image && <meta name="twitter:image" content={props.og.image} />}
